.invitationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  background-color: #fff5f5;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invitationBox {

  width: 350px;
  /* O auto si prefieres adaptar al contenido */
  min-height: 550px;
  /* Ajusta según tu diseño */

  /* Borde más delgado */
  border: 6px solid;

  /* Usamos colores grisáceos suaves y franjas más estrechas */
  border-image: repeating-linear-gradient(45deg,
      /* Ángulo */
      var(--color-title) 0 3px,
      /* Gris oscuro, de 0 a 3px */
      var(--color-background) 3px 6px
      /* Gris claro, de 3px a 6px */
    ) 30;
  /* “slice” y escalado */

  border-image-slice: 1;
  /* Opcionalmente, en lugar de 30 aquí, puedes usar: 
   *   border-image-width: 6;
   *   border-image-repeat: round;
   * para controlar mejor el comportamiento del patrón.
   */

  background-color: #fff;
  /* Fondo blanco */
  border-radius: 10px;
  padding: 20px;
  text-align: center;

  /* border: 10px solid transparent;
  border-image: linear-gradient(45deg, var(--color-title) 50%, transparent 50%) 10;
  padding: 20px; */

  /* border: 0.2rem dashed var(--color-title); */
  /* height: 700px;
  padding: 30px;
  max-width: 400px;
  text-align: center;
  background-color: white;
  border-radius: 10px; */
}

.imageNovios1Container {
  width: 350px;
  height: 250px;
  background-color: #ddd;
  border-radius: 1%;
}

.title {
  font-size: 2rem;
  color: var(--color-title);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.linea {
  border-bottom: 2px solid var(--color-title);
  padding-bottom: 5px;
}

.textContent p {
  text-align: start;
  font-size: medium;
  font-family: var(--font-simple);
}

.invitationContent {
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 10%;
  right: 20px;
  width: 100px;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
}

.footer p:nth-child(2) {
  color: var(--color-accent);
  /* Ejemplo: cambia el color de la fuente */
  font-weight: bold;
  /* Ejemplo: lo pones en negrita */
}