.invitationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  background-color: #fff5f5;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Slider de fondo: se mueve de derecha a izquierda de forma lenta */
.sliderBackground {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  /* Puedes ajustar el ancho deseado */
  height: 450px;
  /* Ajusta la altura deseada para el slider */
  z-index: 0;
  /* Se coloca detrás del contenido */

  background-image: url('../../assets/images/backgrounds/continents.png');
  /* Reemplaza con la ruta de tu imagen */
  background-repeat: repeat-x;
  /* Repite la imagen horizontalmente */
  background-size: auto;
  /* O usa 'cover' o 'contain' según prefieras */

  /* Animación para deslizar el fondo */
  animation: slideBg var(--slide-time) linear infinite;
}

@keyframes slideBg {
  from {
    background-position: var(--start-pos-slider) 0;
  }

  to {
    background-position: -100% 0;
  }
}

.invitationBox {
  position: relative;
  z-index: 1;

  width: 350px;
  /* O auto si prefieres adaptar al contenido */
  min-height: 550px;
  /* Ajusta según tu diseño */

  /* Borde más delgado */
  border: 8px solid;

  /* Usamos colores grisáceos suaves y franjas más estrechas */
  border-image: repeating-linear-gradient(45deg,
      /* Ángulo */
      var(--color-title) 0 3px,
      /* Gris oscuro, de 0 a 3px */
      var(--color-background) 3px 6px
      /* Gris claro, de 3px a 6px */
    ) 30;
  /* “slice” y escalado */
  border-image-slice: 3;
  background-color: #fff;
  padding: 6px;
  text-align: center;
}

.imageNovios1Container {
  width: 350px;
  height: 250px;
  background-color: #ddd;
  border-radius: 1%;
}

.content {
  margin: 20px;
}

.title {
  font-size: 2rem;
  color: var(--color-title);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.linea {
  border-bottom: 2px solid var(--color-title);
  padding-bottom: 5px;
}

.textContent {
  padding-top: 16px;
  padding-bottom: 16px;
}

.textContent p {
  text-align: start;
  font-size: medium;
  font-family: var(--font-simple);
}

.invitationContent {
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 10%;
  right: 20px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  color: var(--color-title);
  font-family: var(--font-title);
  margin-top: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer p:nth-child(2) {
  color: var(--color-red);
  font-weight: bold;
}