.modalOverlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

h3 {
  font-family: var(--font-title);
  color: var(--color-title);
  font-size: 1.4rem;
}

label {
  font-family: var(--font-simple);
}

.inputs {
  width: 275px;
  margin: 0px;
  margin-top: 14px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px 0;
  margin-top: 8px;
}

select {
  text-align: center;
}

.buttonGroup {
  display: flex;
  width: 225px;
  justify-content: space-evenly;
}

button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button:first-child {
  background: #28a745;
  color: white;
}

button:last-child {
  background: #d72638;
  color: white;
}