.attendanceContainer {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderBackground {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
  /* Se coloca detrás del contenido */

  background-image: url('../../assets/images/backgrounds/continents.png');
  background-repeat: repeat-x;
  background-size: auto;
  animation: slideBg 50s linear infinite;
}

@keyframes slideBg {
  from {
    background-position: -10% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Se muestra por encima del slider de fondo */
  width: 100%;
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.invitationText {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 2rem;
  width: 250px;
  margin-bottom: 24px;
}

.imageContainer {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 20px;
}

.confirmButton {
  margin: 20px;
  background-color: var(--color-bg-general);
  cursor: pointer;
  transition: background 0.3s;
}

.passportIcon {
  width: 150px;
  height: auto;
  background-color: var(--color-bg-general);
  padding: 0px;
  margin: 0px;
  animation: rotateImage 2s ease-in-out infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    /* Empieza en la posición original */
  }

  50% {
    transform: rotate(-15deg);
    /* Gira 15 grados a la izquierda */
  }

  100% {
    transform: rotate(0deg);
    /* Vuelve a la posición original */
  }
}