.itineraryContainer {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;

  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderBackground {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  /* Puedes ajustar el ancho deseado */
  height: 450px;
  /* Ajusta la altura deseada para el slider */
  z-index: 0;
  /* Se coloca detr치s del contenido */

  background-image: url('../../assets/images/backgrounds/continents.png');
  /* Reemplaza con la ruta de tu imagen */
  background-repeat: repeat-x;
  /* Repite la imagen horizontalmente */
  background-size: auto;
  /* O usa 'cover' o 'contain' seg칰n prefieras */

  /* Animaci칩n para deslizar el fondo */
  animation: slideBg 60s linear infinite;
}

@keyframes slideBg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100% 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Se muestra por encima del slider de fondo */
  width: 100%;
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  width: 400px;
  font-size: 1.5rem;
  color: var(--color-title);
  font-family: var(--font-simple);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.itineraryImage {
  z-index: 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

/* 游늷 Ajuste para pantallas grandes (PC, port치tiles) */
@media (min-width: 1024px) {
  .itineraryImage {
    max-width: 40%;
    /* Reduce a칰n m치s el ancho en pantallas grandes */
  }
}

/* 游늷 Ajuste para celulares y pantallas peque침as */
@media (max-width: 768px) {
  .itineraryImage {
    max-width: 90%;
    /* Imagen m치s grande en m칩viles */
  }
}