.itineraryContainer {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: #d72638;
  margin-bottom: 15px;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.itineraryImage {
  max-width: 80%;
  /* Reduce el width para mejorar el dise침o */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 游늷 Ajuste para pantallas grandes (PC, port치tiles) */
@media (min-width: 1024px) {
  .itineraryImage {
    max-width: 40%;
    /* Reduce a칰n m치s el ancho en pantallas grandes */
  }
}

/* 游늷 Ajuste para celulares y pantallas peque침as */
@media (max-width: 768px) {
  .itineraryImage {
    max-width: 90%;
    /* Imagen m치s grande en m칩viles */
  }
}