.summaryContainer {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff5f5;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryBox {
  position: relative;
  z-index: 1;
  width: 350px;
  min-height: 550px;
  border: 6px solid;
  border-image: repeating-linear-gradient(45deg,
      var(--color-title) 0 3px,
      var(--color-background) 3px 6px) 30;
  border-image-slice: 3;
  background-color: #fff;
  /* padding: 20px; */
  text-align: center;
}

.sliderContainer {
  position: relative;
  height: 280px;
  /* background-color: cyan; */
  margin: 0px;
  padding: 0px;
}

.sliderBackground {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 280px;
  z-index: 10;
  /* background-color: blue; */
  background-image: url('../../assets/images/backgrounds/continents.png');
  background-repeat: repeat-x;
  background-size: auto 280px;
  animation: slideBg var(--slide-time) linear infinite;
}

@keyframes slideBg {
  from {
    background-position: 0px 0;
  }

  to {
    background-position: var(--bg-img-width) 0;
  }
}

.content {
  margin: 22px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-title);
  font-family: var(--font-title);
  margin-top: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.title>p {
  font-size: 2rem;
  color: var(--color-title);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.title p:nth-child(2) {
  color: var(--color-red);
  margin: 0px 8px;
}

.detailSection {
  display: flex;
  justify-content: space-between;
}

.linea {
  border-bottom: 2px solid var(--color-title);
  padding-bottom: 5px;
}

.detail {
  width: 30%;
  font-size: 0.8rem;
  margin: 5px 0;
  color: var(--color-title);
  font-family: var(--font-simple);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.finalMessage {
  font-size: 1.1rem;
  font-family: var(--font-simple);
  color: var(--color-title);
  text-transform: uppercase;
}

.equipaje {
  height: 105px;
  width: auto;
  padding: 12px;
}

footer {
  margin-top: 20px;
}