.summaryContainer {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background-color: #fff5f5;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryBox {
  position: relative;
  z-index: 2;
  width: 350px;
  min-height: 550px;
  border: 8px solid;
  border-image: repeating-linear-gradient(
      45deg,
      var(--color-title) 0 3px,
      var(--color-background) 3px 6px
    )
    30;
  border-image-slice: 3;
  background-color: #fff;
  padding: 6px;
  text-align: center;
}

.sliderContainer {
  position: absolute;
  z-index: 3;
  height: 280px;
  width: 100%;
  top: 12%;
}

.imageContainer {
  position: absolute;
  z-index: 4;
  top: 24%;
  right: 1%;
  width: 100px;
  height: auto;
  border-radius: 50%;
  animation: rotateCompass 3s linear infinite;
}

@keyframes rotateCompass {
  0% {
    transform: rotate(-4deg);
  }

  33% {
    transform: rotate(36deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

.sliderBackground {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 280px;
  z-index: 100;
  /* background-color: blue; */
  background-image: url("../../assets/images/backgrounds/continents.png");
  background-repeat: repeat-x;
  background-size: auto 280px;
  animation: slideBg var(--slide-time) linear infinite;
}

@media (max-width: 375px) {
  .sliderContainer {
    position: absolute;
    z-index: 3;
    height: 280px;
    width: 100%;
    top: 3%;
  }
}
@media (max-width: 414px) {
  .sliderContainer {
    position: absolute;
    z-index: 3;
    height: 280px;
    width: 100%;
    top: 14%;
  }
}
@media (max-width: 390px) {
  .sliderContainer {
    position: absolute;
    z-index: 3;
    height: 280px;
    width: 100%;
    top: 12%;
  }
}
@media (max-width: 430px) {
  .sliderContainer {
    position: absolute;
    z-index: 3;
    height: 280px;
    width: 100%;
    top: 15%;
  }
}
@keyframes slideBg {
  from {
    background-position: 0px 0;
  }

  to {
    background-position: var(--bg-img-width) 0;
  }
}

.content {
  margin: 22px;
  margin-top: 250px;
}
.brujula {
  z-index: 10;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-title);
  font-family: var(--font-title);
  margin-top: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.title > p {
  font-size: 2rem;
  color: var(--color-title);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.title p:nth-child(2) {
  color: var(--color-red);
  margin: 0px 8px;
}

.detailSection {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.linea {
  border-bottom: 2px solid var(--color-title);
  padding-bottom: 5px;
}

.detail {
  width: 30%;
  font-size: 0.8rem;
  margin: 5px 0;
  color: var(--color-title);
  font-family: var(--font-simple);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.finalMessage {
  margin: auto;
  width: 75%;
  font-size: 1rem;
  font-family: var(--font-simple);
  color: var(--color-title);
  text-transform: uppercase;
}

.equipaje {
  height: 105px;
  width: auto;
  padding: 12px;
}

footer {
  margin-top: 20px;
}

a {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
