.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f4f0; /* Fondo más elegante */
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  color: #6d4c41;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-left: 5px solid #d4a373;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #6d4c41;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #c4a484;
  border-radius: 5px;
  background-color: #f9f5f2;
  color: black;
}

.buttonGreen {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.buttonGreen:hover {
  background-color: #388e3c;
}

.buttonRed {
  width: 100%;
  background-color: #d32f2f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.buttonRed:hover {
  background-color: #b71c1c;
}
