.passportContainer {
  padding-top: 50px;
  text-align: center;
  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 20px;
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
}

.h3 {
  font-size: 1rem;
  color: var(--color-title);
  font-family: var(--font-simple);
  text-transform: uppercase;
  margin: 0px;
}

.subtitle {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
}

.textContainer {
  width: 350px;
}

.text1 {
  text-align: start;
  font-size: 3rem;
  margin-top: 10px;
  font-family: var(--font-title2);
}

.text2 {
  text-align: end;
  font-size: 3rem;
  margin-top: 10px;
  font-family: var(--font-title2);
}

.invitationText {
  width: 350px;
  font-size: 2rem;
  font-family: var(--font-title2);
  margin-top: 10px;
}