.passportContainer {
  text-align: center;
  padding: 50px 20px;
  background-color: #fdf5e6;
}

.imageContainer {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.title {
  font-size: 2rem;
  color: #333;
}

.subtitle {
  font-size: 1.5rem;
  color: #777;
}

.text {
  font-size: 1.2rem;
  margin-top: 10px;
}

.invitationText {
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 10px;
}
