.passportContainer {
  position: relative;
  /* Permite posicionar elementos absolutamente dentro de este contenedor */
  /* padding-top: 10px; */
  text-align: center;
  background-color: var(--color-bg-general);
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* Evita que el fondo se desborde */
}

/* Slider de fondo: se mueve de derecha a izquierda de forma lenta */
.sliderBackground {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  /* Puedes ajustar el ancho deseado */
  height: 450px;
  /* Ajusta la altura deseada para el slider */
  z-index: 0;
  /* Se coloca detrás del contenido */

  background-image: url('../../assets/images/backgrounds/continents.png');
  /* Reemplaza con la ruta de tu imagen */
  background-repeat: repeat-x;
  /* Repite la imagen horizontalmente */
  background-size: auto;
  /* O usa 'cover' o 'contain' según prefieras */

  /* Animación para deslizar el fondo */
  animation: slideBg 50s linear infinite;
}

@keyframes slideBg {
  from {
    background-position: -10% 0;
  }

  to {
    background-position: -100% 0;
  }
}


/* Contenedor del contenido */
.content {
  position: relative;
  z-index: 1;
  /* Se muestra por encima del slider de fondo */
  width: 100%;
}

/* Resto de estilos para el contenido */
.imageContainer {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 20px auto;
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
}

.h3 {
  font-size: 1rem;
  color: var(--color-title);
  font-family: var(--font-simple);
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}