@import url('../../assets/styles/variables.css');

/* Ocultar scrollbar en navegadores Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Evitar el desplazamiento horizontal */
body {
  overflow-x: hidden;
  margin: 0;
}

p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--color-bg-general);
}