:root {
  --color-title: #61513e;
  --color-red: #b51d2d;
  --color-background: #fff5f5;
  --color-text: #333;
  --font-title: "Playfair Display", serif;
  /* --font-title2: "Whisper", cursive; */
  --font-title2: "Qwigley", cursive;
  --font-simple: "Montserrat", sans-serif;
  --font-body: "Libre Baskerville", serif;
  --color-bg-general: #f9f7f5;
  --font-allura: "Allura", cursive;
  --font-cormorant-garamond: "Cormorant Garamond", serif;
  --slide-time: 40s;
  --start-pos-slider: 40%;
  --bg-img-width: 680px;
  --globo-flotante: "src/assets/images/globo.png";

  /* Animaciones */
  --rotateCompass-nombre: rotateCompass;
  --rotateCompass-duracion: 30s;
  --rotateCompass-timing: linear;
  --rotateCompass-iteracion: infinite;
  --rotateCompass: var(--rotateCompass-nombre) var(--rotateCompass-duracion) var(--rotateCompass-timing) var(--rotateCompass-iteracion);

  --tambaleo-nombre: tambaleo;
  --tambaleo-inicial: 8deg;
  --tambaleo-final: -8 deg;
  --tambaleo-duracion: 2s;
  --tambaleo-timing: ease-in-out;
  --tambaleo-iteracion: infinite;
  --tambaleo-direccion: alternate;
  --tambaleo: var(--tambaleo-nombre) var(--tambaleo-duracion) var(--tambaleo-timing) var(--tambaleo-iteracion) var(--tambaleo-direccion);
}

@keyframes rotateCompass {
  0% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(356deg);
  }
}

@keyframes tambaleo {
  0% {
    transform: rotate(var(--tambaleo-inicial));
  }

  100% {
    transform: rotate(var(--tambaleo-final));
  }
}