:root {
  --color-title: #61513e;
  --color-primary: #d72638;
  --color-background: #fff5f5;
  --color-text: #333;
  --color-accent: #b51d2d;
  --font-title: 'Playfair Display', serif;
  --font-title2: 'Dancing Script', cursive;
  --font-simple: 'Montserrat', sans-serif;
  --font-body: 'Libre Baskerville', serif;
  --color-bg-general: #f8f1fa;
}