.locationContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;

  margin-top: 50px;
  margin-bottom: 50px;
  /* padding: 50px 20px; */
  /* background-color: #f3f3f3; */
  /* background-color: var(--color-bg-general); */
  min-height: 100vh;
}

.section {
  position: relative;
  width: 100%;
}

.sliderBackground {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 0;
  background-image: url('../../assets/images/backgrounds/continents.png');
  background-repeat: repeat-x;
  background-size: auto;
  animation: slideBg var(--slide-time) linear infinite;
}

@keyframes slideBg {
  from {
    background-position: -10% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.compassImage {
  width: 125px;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  animation: var(--rotateCompass)
}

@keyframes rotateCompass {
  0% {
    transform: rotate(-16deg);
  }

  33% {
    transform: rotate(46deg);
  }

  100% {
    transform: rotate(-16deg);
  }
}

@media (min-width: 800px) {
  .locationContainer {
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 5; */
  }
}