/* Slider de fondo: se mueve de derecha a izquierda de forma lenta */
.sliderBackground {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
  background-image: url('../../assets/images/backgrounds/continents.png');
  background-repeat: repeat-x;
  background-size: auto;
  animation: slideBg var(--slide-time) linear infinite;
}

@keyframes slideBg {
  from {
    background-position: -10% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.compassImage {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  animation: rotateCompass 3s linear infinite;
}

@keyframes rotateCompass {
  0% {
    transform: rotate(-16deg);
  }

  33% {
    transform: rotate(46deg);
  }

  100% {
    transform: rotate(-16deg);
  }
}


.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locationContainer {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background-color: #f3f3f3;
  background-color: var(--color-bg-general);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .locationContainer {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5;
  }
}

.title {
  font-family: var(--font-allura);
  font-size: 4rem;
  color: var(--color-title);
  margin: 20px 0px;
  margin-top: 5px;
}

.locationBox {
  align-content: center;
  /* background-color: white; */
  padding: 20px;
  /* margin: 10px 0px; */
  margin: 0px;
  width: 75%;
  height: 355px;
  /* max-width: 400px; */
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.mapButton {
  display: inline-block;
  margin-top: 32px;
  padding: 8px 15px;
  border: 1px solid var(--color-title);
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

img {
  width: 65px;
  height: 65px;
}

.locationBox p {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 1.5rem;
}

.mapButton:hover {
  background-color: var(--color-text);
}