.countdownContainer {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 32px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 80px;
}

.number {
  width: 50%;
  font-size: 2rem;
  font-family: var(--font-body);
  color: var(--color-title);
}

.label {
  margin-left: 4px;
  font-size: 1rem;
  font-family: var(--font-body);
  color: var(--color-title);
}

/* 📌 Ajuste para pantallas pequeñas */
@media (max-width: 760px) {
  .timer {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .timeBox {
    min-width: 150px;
    padding: 10px;
  }
}

.invitationText {
  width: 250px;
  font-size: 2rem;
  font-family: var(--font-title2);
  color: var(--color-text);
  margin: 26px auto;
}

.buttonContainer {
  margin: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.globoIcon {
  width: 150px;
  height: auto;
  padding: 0px;
  margin: 0px;
  animation: rotateImage 3s ease-in-out infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(-4deg);
  }

  55% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}
