.countdownContainer {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  margin-top: 32px;
}

.balloon {
  width: 80px;
  height: auto;
  margin: 0px;
  animation: var(--tambaleo);
}

.timer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  min-width: 70px;
}

.columnLine {
  border-right: 1px var(--color-title) solid;
  width: 2px;
  height: 30px;
}

.number {
  width: 50%;
  font-size: 2rem;
  font-family: var(--font-body);
  color: var(--color-title);
}

.label {
  margin-left: 4px;
  font-size: 1rem;
  font-family: var(--font-body);
  color: var(--color-title);
}

/* 📌 Ajuste para pantallas pequeñas */
@media (max-width: 760px) {
  .timer {
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
  }

  .timeBox {
    min-width: 70px;
  }
}

.invitationText {
  width: 300px;
  font-family: var(--font-cormorant-garamond);
  color: var(--color-title);
  text-transform: none;
  font-weight: 300;
  font-size: 2rem;

  margin: 26px auto;
  margin-top: 0px;
}

.buttonContainer {
  margin: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.globoIcon {
  width: 150px;
  height: auto;
  padding: 0px;
  margin: 0px;
  animation: rotateImage 3s ease-in-out infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(-4deg);
  }

  55% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}