.giftContainer {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background-color: #fdf5e6;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Slider de fondo: se mueve de derecha a izquierda de forma lenta */
.sliderBackground {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
  background-image: url("../../assets/images/backgrounds/continents.png");
  background-repeat: repeat-x;
  background-size: auto;
  animation: slideBg var(--slide-time) linear infinite;
}

@keyframes slideBg {
  from {
    background-position: -10% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giftIcon {
  width: 125px;
  height: auto;
  padding: 0px;
  margin: 12px;
  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  /* margin-bottom: 16px; */
}

.text {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 2rem;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 40px;
}

/* Contenedor flexible para las cuentas */
.accountsContainer {
  display: flex;
  flex-direction: column;
  /* Por defecto, en móviles será vertical */
  align-items: center;
  gap: 20px;
}

/* Estilos para cada cuenta bancaria */
.accountBox {
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.accountBox h3 {
  color: var(--color-title);
  font-size: 1rem;
  color: var(--color-title);
  font-family: var(--font-simple);
  text-transform: uppercase;
  margin: 0;
}

.accountBox p {
  color: #333;
  margin: 5px 0;
}

/* Sobrecarga para pantallas grandes */
@media (min-width: 768px) {
  .accountsContainer {
    flex-direction: row;
    /* En pantallas grandes será horizontal */
    justify-content: center;
  }

  .accountBox {
    max-width: 300px;
  }
}

.confirmButton {
  /* background-color: var(--color-bg-general); */
  cursor: pointer;
  transition: background 0.3s;
}

.bancoIcon {
  width: 75px;
  height: auto;
  /* background-color: var(--color-bg-general); */
  padding: 0px;
  margin: 12px;
  animation: rotateImage 2s ease-in-out infinite;
}
