.balloon {
  width: auto;
  height: 135px;
  position: absolute;
  top: 0;
  left: 0;
  animation: globoRecorrido 7s linear infinite;
}

@keyframes globoRecorrido {
  0% {
    transform: translate(-100px, -100px);
  }

  10% {
    transform: translate(100px, 100px);
  }

  20% {
    transform: translate(200px, 150px);
  }

  30% {
    transform: translate(300px, 25px);
  }

  40% {
    transform: translate(260px, 0px);
  }

  50% {
    transform: translate(230px, 15px);
  }

  60% {
    transform: translate(190px, 0px);
  }

  70% {
    transform: translate(145px, 20px);
  }

  80% {
    transform: translate(200px, 150px);
  }

  90% {
    transform: translate(300px, 155px);
  }

  100% {
    transform: translate(600px, 0px);
  }
}

@media (max-width:430px) {
  .balloon {
    width: auto;
    height: 125px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    animation: globoRecorrido 7s linear infinite;
  }

  @keyframes globoRecorrido {
    0% {
      transform: translate(-100px, -100px);
    }

    10% {
      transform: translate(0px, 0px);
    }

    20% {
      transform: translate(100px, 50px);
    }

    30% {
      transform: translate(200px, -25px);
    }

    40% {
      transform: translate(160px, -50px);
    }

    50% {
      transform: translate(130px, -40px);
    }

    60% {
      transform: translate(90px, -50px);
    }

    70% {
      transform: translate(45px, -20px);
    }

    80% {
      transform: translate(100px, 50px);
    }

    90% {
      transform: translate(200px, 55px);
    }

    100% {
      transform: translate(500px, -50px);
    }
  }
}