.galleryContainer {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
  background-color: var(--color-bg-general);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderBackground {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
  background-image: url("../../assets/images/backgrounds/continents.png");
  background-repeat: repeat-x;
  background-size: auto;
  animation: slideBg var(--slide-time) linear infinite;
}

@keyframes slideBg {
  from {
    background-position: -10% 0;
  }

  to {
    background-position: -100% 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
}

.text {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 2rem;
  width: 350px;
  /* margin-top: 0px; */
  margin-bottom: 40px;
}

/* Contenedor flexible para las cuentas */
.buttonContainer {
  display: flex;
  /* Por defecto, en m칩viles ser치 vertical */
  align-items: center;
}

/* Estilos para cada cuenta bancaria */
/* .buttonBox {
  background-color: white;
  padding: 10px 15px;
  width: 100%;
  max-width: 350px;
  border-radius: 32%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
} */

.confirmButton {
  /* background-color: var(--color-bg-general); */
  cursor: pointer;
  transition: background 0.3s;
}

.cameraIcon {
  width: 150px;
  height: auto;
  /* background-color: var(--color-bg-general); */
  padding: 0px;
  /* margin: ; */
  animation: rotateImage 2s ease-in-out infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    /* Empieza en la posici칩n original */
  }

  50% {
    transform: rotate(-12deg);
    /* Gira 15 grados a la izquierda */
  }

  100% {
    transform: rotate(0deg);
    /* Vuelve a la posici칩n original */
  }
}