.galleryContainer {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5;

  /* padding: 50px 20px; */
  background-color: var(--color-bg-general);

  /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
  min-height: 100vh;
  /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: var(--color-title);
  font-family: var(--font-title);
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
}

.text {
  font-family: var(--font-cormorant-garamond);
  font-style: italic;
  font-size: 2rem;
  width: 350px;
  /* margin-top: 0px; */
  margin-bottom: 40px;
}

.confirmButton {
  /* background-color: var(--color-bg-general); */
  cursor: pointer;
  transition: background 0.3s;
}

.cameraIcon {
  width: 75px;
  height: auto;
  /* background-color: var(--color-bg-general); */
  padding: 0px;
  margin: 12px;
  animation: rotateImage 2s ease-in-out infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    /* Empieza en la posición original */
  }

  50% {
    transform: rotate(-15deg);
    /* Gira 15 grados a la izquierda */
  }

  100% {
    transform: rotate(0deg);
    /* Vuelve a la posición original */
  }
}