.galleryContainer {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;

    /* Estilos para ocupar toda la pantalla y centrar el contenido verticalmente */
    min-height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    color: #d72638;
    margin-bottom: 15px;
  }
  
  .text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .uploadButton {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #d72638;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .uploadButton:hover {
    background-color: #b51d2d;
  }
  